# ForgeOS Q90 defaults. Only 0 and 1 are accepted for boolean values.
MODULES_CUSTOM=0
DEBUG=0
DEBUG_GMENU2X=0
DEBUG_UMTPR=0
FIRSTBOOT=0
FS_CHECK=1
BOOT_LOGO=1
HOTKEY_CUSTOM=1
USB_OTG=1
OSS=0
FLIP=
INVERT=
TV_OUT=
